body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #EE6E73;
}

main {
    flex: 1 0 auto;
}

.background {
    background-image: url("/assets/images/bg-forest-1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    border-radius: 25%;
    height: 80vh;
    margin-top: 5vh;
    border: 2px #fff solid;
    box-shadow: 0 0 15px 5px #fff,
                0 0 30px 15px #2F8067;
                /* 0 0 40px 25px rgb(220, 235, 168); */
    animation: glow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.995);
}

.buttonCol {
    margin-top: 25vh;
}

.activity {
    font-size: 14px;
}

.sprite {
    position: relative;
    margin-left: 40vh;
    margin-top: 40vh;
    width: 25%;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(255,255,255,.8),
                   0 0 22px  rgba(255,255,255,.8),
                   0 0 40px  rgba(220,235,168,.8),
                   0 0 60px  rgba(220,235,168,.8),
                   0 0 80px  rgba(220,235,168,.5),
                   0 0 100px rgba(220,235,168,.5),
                   0 0 140px rgba(220,235,168,.5),
                   0 0 200px rgba(220,235,168,.5);
    }
    100% {
      box-shadow: 0 0 2px rgba(255,255,255,.8),
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(220,235,168,.8),
                   0 0 30px rgba(220,235,168,.8),
                   0 0 40px rgba(220,235,168,.8),
                   0 0 50px rgba(220,235,168,.5),
                   0 0 80px rgba(220,235,168,.5);
    }
}